/.bash_history
/.cache
/.docker
/.emacs.d
/.gitconfig
/.gnupg
/.ssh
/.viminfo
/.vscode-server
/.wget-hsts
/__pycache__
/project/CLIP/
/project/experiment/
/project/used_pictures/
/project/sample/
/project/pictures/
/project/texts/prob_output.txt