/.bash_history
/.cache
/.docker
/.emacs.d
/.gitconfig
/.gnupg
/.ssh
/.viminfo
/.vscode-server
/.wget-hsts
/__pycache__
/data
/gpt
/tensorflow
/project/CLIP/
/project/experiment/
/project/sub_pictures/
/project/sample/
/project/pictures